
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#root {

  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



.VictoryContainer {
  user-select: auto !important;
  pointer-events: auto !important;
  touch-action: auto !important;
  }